.cards-busca {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cards-depoimento {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: space-between;
  margin-bottom: 40px;
}
